<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.knime.core.PortType">
  
    <!-- Deprecated 1.7.2 FskPortObject -->
    <portType
      color="000000"
      hidden="false"
      name="FSK object"
      objectClass="de.bund.bfr.knime.fsklab.FskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.FskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.FskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.FskPortObjectSpec$Serializer">
    </portType>
    
    <!-- Deprecated 1.7.2 CombinedFskPortObject -->
    <portType
      color="FF4500"
      hidden="false"
      name="Combined FSK object"
      objectClass="de.bund.bfr.knime.fsklab.CombinedFskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.CombinedFskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.CombinedFskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.CombinedFskPortObjectSpec$Serializer">
    </portType>
  
	<!-- Deprecated: FSK port object for deprecated nodes-->
    <portType
      color="588C7E"
      hidden="false"
      name="FSK object"
	  objectClass="de.bund.bfr.knime.pmm.fskx.port.FskPortObject"
	  objectSerializer="de.bund.bfr.knime.pmm.fskx.port.FskPortObject$Serializer"
	  specClass="de.bund.bfr.knime.pmm.fskx.port.FskPortObjectSpec"
	  specSerializer="de.bund.bfr.knime.pmm.fskx.port.FskPortObjectSpec$Serializer" />
	  
	<portType
      color="588C7E"
      hidden="false"
      name="FSK object"
	  objectClass="de.bund.bfr.knime.fsklab.nodes.port.FskPortObject"
	  objectSerializer="de.bund.bfr.knime.fsklab.nodes.port.FskPortObject$Serializer"
	  specClass="de.bund.bfr.knime.fsklab.nodes.port.FskPortObjectSpec"
	  specSerializer="de.bund.bfr.knime.fsklab.nodes.port.FskPortObjectSpec$Serializer"/>
  </extension>
  
  <!-- Category for legacy FSK nodes -->
  <extension point="org.knime.workbench.repository.categories">
    <category icon="icons/fsk48.png" level-id="legacy" name="Legacy" path="/fsklab" />
  </extension>

  <extension point="org.knime.workbench.repository.nodes">
    <!-- 1.0.2 -->
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.reader.FskxReaderNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.writer.FskxWriterNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.creator.FskCreatorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.fsk2metadata.ExtractFskMetadataNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.fsk2r.FskToRNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.metadataeditor.FskMetadataEditorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.editor.FskEditorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.editor.js.FskEditorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.runner.FskRunnerNodeFactory" />
    
    <!-- Pre-RAKIP -->
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.creator.FskxCreatorNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.editor.FskEditorNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.reader.FskxReaderNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.runner.FskxRunnerNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.writer.FskxWriterNodeFactory" />
    
    <!-- 1.7.2 -->
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.CreatorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.FSK2MetadataNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.FskToRNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.JoinerNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.RunnerNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.WriterNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.ReaderNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.FSKEditorJSNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.JSSimulatorNodeFactory" />
  </extension>
   
  <extension point="org.knime.js.core.javascriptComponents">
  
    <!-- JavaScript component for the simulator node -->
    <javascriptComponent
      getComponentValue-method-name="getComponentValue"
      implementationBundleID="de.bund.bfr.knime.fsklab.nodes.jssimulator.bundle"
      init-method-name="init"
      javascriptComponentID="de.bund.bfr.knime.fsklab.nodes.jssimulator"
      name="JavaScript Simulation Configurator"
      namespace="simulator">
    </javascriptComponent>
     
    <!-- Javascript component for Fsk Metadata Editor node -->
    <javascriptComponent
      getComponentValue-method-name="getComponentValue"
      implementationBundleID="de.bund.bfr.knime.fsklab.nodes.metadataeditor.bundle"
      init-method-name="init"
      javascriptComponentID="de.bund.bfr.knime.fsklab.nodes.metadataeditor"
      name="FSK Metadata Editor"
      namespace="metadata_editor">
    </javascriptComponent>
    
    <!-- Javascript component for Fsk Editor node -->
    <javascriptComponent
          getComponentValue-method-name="getComponentValue"
          implementationBundleID="de.bund.bfr.knime.fsklab.nodes.editor.js.bundle"
          init-method-name="init"
          javascriptComponentID="de.bund.bfr.knime.fsklab.nodes.editor.js"
          name="FSK Editor JS"
          namespace="fsk_editor">
    </javascriptComponent>
  </extension>
  
</plugin>
