<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.knime.core.PortType">
  	
  	<!-- Deprecated 1.9.0 FskPortObject -->
    <portType
      color="FF0000"
      hidden="false"
      name="FSK object"
      objectClass="de.bund.bfr.knime.fsklab.v1_9.FskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.v1_9.FskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.v1_9.FskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.v1_9.FskPortObjectSpec$Serializer">
    </portType>
    
    <!-- Deprecated 1.9.0 CombinedFskPortObject -->
    <portType
      color="000C7E"
      hidden="false"
      name="Combined FSK object"
      objectClass="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObjectSpec$Serializer">
    </portType>
    
    <!-- Deprecated 1.7.2 FskPortObject -->
    <portType
      color="000000"
      hidden="false"
      name="FSK object"
      objectClass="de.bund.bfr.knime.fsklab.FskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.FskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.FskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.FskPortObjectSpec$Serializer">
    </portType>
    
    <!-- Deprecated 1.7.2 CombinedFskPortObject -->
    <portType
      color="FF4500"
      hidden="false"
      name="Combined FSK object"
      objectClass="de.bund.bfr.knime.fsklab.CombinedFskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.CombinedFskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.CombinedFskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.CombinedFskPortObjectSpec$Serializer">
    </portType>
  
	<!-- Deprecated: FSK port object for deprecated nodes-->
    <portType
      color="588C7E"
      hidden="false"
      name="FSK object"
	  objectClass="de.bund.bfr.knime.pmm.fskx.port.FskPortObject"
	  objectSerializer="de.bund.bfr.knime.pmm.fskx.port.FskPortObject$Serializer"
	  specClass="de.bund.bfr.knime.pmm.fskx.port.FskPortObjectSpec"
	  specSerializer="de.bund.bfr.knime.pmm.fskx.port.FskPortObjectSpec$Serializer" />
	  
	<portType
      color="588C7E"
      hidden="false"
      name="FSK object"
	  objectClass="de.bund.bfr.knime.fsklab.nodes.port.FskPortObject"
	  objectSerializer="de.bund.bfr.knime.fsklab.nodes.port.FskPortObject$Serializer"
	  specClass="de.bund.bfr.knime.fsklab.nodes.port.FskPortObjectSpec"
	  specSerializer="de.bund.bfr.knime.fsklab.nodes.port.FskPortObjectSpec$Serializer"/>
  </extension>
  
  <!-- Category for legacy FSK nodes -->
  <extension point="org.knime.workbench.repository.categories">
    <category icon="icons/fsk48.png" level-id="legacy" name="Legacy" path="/fsklab" />
  </extension>

  <extension point="org.knime.workbench.repository.nodes">
    <!-- 1.0.2 -->
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.reader.FskxReaderNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.writer.FskxWriterNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.creator.FskCreatorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.fsk2metadata.ExtractFskMetadataNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.fsk2r.FskToRNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.metadataeditor.FskMetadataEditorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.editor.FskEditorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.editor.js.FskEditorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.runner.FskRunnerNodeFactory" />
    
    <!-- Pre-RAKIP -->
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.creator.FskxCreatorNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.editor.FskEditorNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.reader.FskxReaderNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.runner.FskxRunnerNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="true" factory-class="de.bund.bfr.knime.pmm.fskx.writer.FskxWriterNodeFactory" />
    
    <!-- 1.7.2 -->
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.CreatorNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.FSK2MetadataNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.FskToRNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.JoinerNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.RunnerNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.WriterNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.ReaderNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.FSKEditorJSNodeFactory" />
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.nodes.JSSimulatorNodeFactory" />
    
    <!-- 1.9.0 -->
    <node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.creator.CreatorNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.runner.RunnerNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.fsk2r.FskToRNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.reader.ReaderNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.writer.WriterNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.fsk2metadata.FSK2MetadataNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.simulator.JSSimulatorNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.joiner.JoinerNodeFactory" />
	<node category-path="/fsklab" deprecated="true" factory-class="de.bund.bfr.knime.fsklab.v1_9.editor.FSKEditorJSNodeFactory" />
	 
  </extension>
   
  <extension point="org.knime.js.core.javascriptComponents">
  
    <!-- JavaScript component for the simulator node -->
    <javascriptComponent
      getComponentValue-method-name="getComponentValue"
      implementationBundleID="de.bund.bfr.knime.fsklab.v1.7.2.simulator.bundle"
      init-method-name="init"
      javascriptComponentID="de.bund.bfr.knime.fsklab.v1.7.2.simulator.component"
      name="JavaScript Simulation Configurator"
      namespace="simulator">
    </javascriptComponent>
    
    <!-- Javascript component for Fsk Editor node -->
    <javascriptComponent
          getComponentValue-method-name="getComponentValue"
          implementationBundleID="de.bund.bfr.knime.fsklab.v1.7.2.editor.bundle"
          init-method-name="init"
          javascriptComponentID="de.bund.bfr.knime.fsklab.v1.7.2.editor.component"
          name="FSK Editor"
          namespace="fskeditorjs">
    </javascriptComponent>
    
    <javascriptComponent
      getComponentValue-method-name="getComponentValue"
      implementationBundleID="de.bund.bfr.knime.fsklab.v1.7.2.joiner.bundle"
      init-method-name="init"
      javascriptComponentID="de.bund.bfr.knime.fsklab.v1.7.2.joiner.component"
      name="FSK Joiner"
      namespace="joiner">
    </javascriptComponent>
    
    <!-- 1.9.0 -->
    <!-- JavaScript component for the simulator node -->
     <javascriptComponent
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.v1.9.simulator.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.v1.9.simulator.component"
       name="JavaScript Simulation Configurator"
       namespace="simulator">
     </javascriptComponent>
     
     <!-- 1.9.0 -->
     <!-- Javascript component for Fsk joiner node -->
     <javascriptComponent
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.v1.9.joiner.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.v1.9.joiner.component"
       name="FSK Joiner"
       namespace="joiner">
     </javascriptComponent>
     
     <!-- 1.9.0 -->
     <!-- Javascript component for Fsk Editor JS node -->
     <javascriptComponent
       validate-method-name="validate"
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.v1.9.editor.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.v1.9.editor.component"
       name="FSK Editor JS"
       namespace="fskeditorjs">
     </javascriptComponent>
  </extension>
  
  <extension point="org.knime.js.core.webResources">
  	 <!-- 1.9.0 -->
  	 <!-- JS and CSS for simulator node -->
     <webResourceBundle
       debug="true"
       name="JavaScript Simulation Configurator"
       usesDefine="false"
       version="0.0.1"
       webResourceBundleID="de.bund.bfr.knime.fsklab.v1.9.simulator.bundle">
       
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator/jssimulator.js" type="JAVASCRIPT" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator/jssimulator.css" type="CSS" />

       <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
     </webResourceBundle>
     
     <!-- 1.9.0 -->
	 <!-- JS and CSS for editor -->
     <webResourceBundle
       debug="true"
       name="FSK Editor JS"
       usesDefine="true"
       version="1.0.0"
       webResourceBundleID="de.bund.bfr.knime.fsklab.v1.9.editor.bundle">
       
       <!-- JS and CSS code -->
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/v1.9/editor"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/v1.9/editor" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/editor/editor.js" type="JAVASCRIPT" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/editor/editor.css" type="CSS" />

       <webDependency webResourceBundleID="codemirror_5.49.2"></webDependency>
       <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
       <webDependency webResourceBundleID="bootstrap3_typeahead_4.0.2"></webDependency>
       <webDependency webResourceBundleID="datepicker_1.9.0"></webDependency>
       <webDependency webResourceBundleID="RequireJS_2.3.3"></webDependency>
       <webDependency webResourceBundleID="knimeserviceConditionalLoad_1.0"></webDependency>
       
       <webDependency webResourceBundleID="FskMetadata_1.0.0"></webDependency>
       <webDependency webResourceBundleID="FskUtil_1.0.0"></webDependency>
     </webResourceBundle>
     <!-- 1.9.0 -->
     <!-- JS and CSS code for Fsk Joiner node -->	 
	 <webResourceBundle debug="true" name="FSK Joiner"
	   usesDefine="true" version="1.0.0" webResourceBundleID="de.bund.bfr.knime.fsklab.v1.9.joiner.bundle">
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner" />	   
	   <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner/joiner.css" type="CSS" />
	   <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner/joiner.js" type="JAVASCRIPT" />
	   
	   <webDependency webResourceBundleID="JointJS_3.1.1" />
	   <webDependency webResourceBundleID="bootstrap_3.3.6" />
       <webDependency webResourceBundleID="bootstrap3_typeahead_4.0.2" />
       <webDependency webResourceBundleID="codemirror_5.49.2"></webDependency>
       <webDependency webResourceBundleID="RequireJS_2.3.3"></webDependency>
       <webDependency webResourceBundleID="knimeserviceConditionalLoad_1.0"></webDependency>
	   
	   <webDependency webResourceBundleID="FskMetadata_1.0.0" />
	   <webDependency webResourceBundleID="FskUtil_1.0.0" />
	 </webResourceBundle>
	 
	 
	 <!-- 1.7.2 -->
    <webResourceBundle
       debug="true"
       name="FSK Editor JS"
       usesDefine="true"
       version="1.7.2"
       webResourceBundleID="de.bund.bfr.knime.fsklab.v1.7.2.editor.bundle">
       
       <!-- JS and CSS code -->
       <webResource relativePathSource="js-src/de/bund/bfr/knime/fsklab/1.7.2/editor" relativePathTarget="js-src/de/bund/bfr/knime/fsklab/1.7.2/editor" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/1.7.2/editor/editor.js" type="JAVASCRIPT" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/1.7.2/editor/editor_data.js" type="JAVASCRIPT" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/1.7.2/editor/editor.css" type="CSS" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/1.7.2/editor/ControlledVocabulary.js" type="JAVASCRIPT" />

       <webDependency webResourceBundleID="codemirror_5.49.2"></webDependency>
       <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
       <webDependency webResourceBundleID="bootstrap3_typeahead_4.0.2"></webDependency>
       <webDependency webResourceBundleID="datepicker_1.9.0"></webDependency>
       <webDependency webResourceBundleID="RequireJS_2.3.3"></webDependency>
       <webDependency webResourceBundleID="knimeserviceConditionalLoad_1.0"></webDependency>
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="JavaScript Simulation Configurator" usesDefine="false"
       version="1.7.2" webResourceBundleID="de.bund.bfr.knime.fsklab.v1.7.2.simulator.bundle">
       
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/1.7.2/simulator"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/1.7.2/simulator">
       </webResource>
       
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/1.7.2/simulator/jssimulator.js" type="JAVASCRIPT" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/1.7.2/simulator/jssimulator.css" type="CSS" />

       <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
     </webResourceBundle>
     
     <webResourceBundle debug="true" name="FSK Joiner" usesDefine="true" version="1.0.0"
       webResourceBundleID="de.bund.bfr.knime.fsklab.v1.7.2.joiner.bundle">
     
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/">
       </webResource>
       
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/joiner.css" type="CSS" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/joiner.js" type="JAVASCRIPT" />
       
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/bootstrap-treeview.min.css" type="CSS" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/bootstrap-treeview.min.js" type="JAVASCRIPT" />
       <!-- Dependencies -->
       <webDependency webResourceBundleID="fskeditor" />
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjs"></webDependency>
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjscss"></webDependency>
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.bundle.js" />
	 </webResourceBundle>
	 
	 <!-- JS and CSS code for Fsk Editor JS node -->
	 <webResourceBundle debug="true" name="Jointjs" version="1.0.0"
	   webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjs">
	   <webResource
	     relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js"
	     relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js">
	   </webResource>
	   <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js" type="JAVASCRIPT" />
	   
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.backbone" />
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.lodash.min.js" />
	 </webResourceBundle>
	 
	 <webResourceBundle debug="true" name="backbone" version="1.0.0"
       webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.backbone">
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/backbone.js"
         relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/backbone.js">
       </webResource>
       <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/backbone.js" type="JAVASCRIPT" />
       
       <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.underscore.js" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="underscore" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.underscore.js">
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/underscore.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/underscore.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/underscore.js" type="JAVASCRIPT" />
    </webResourceBundle>
	
	<webResourceBundle debug="true" name="lodash" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.lodash.min.js">
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/lodash.min.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/lodash.min.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/lodash.min.js" type="JAVASCRIPT" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="Jointjscss" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjscss">
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css" type="CSS" />
    </webResourceBundle>
    
    <!-- JS and CSS code for Fsk Editor JS node -->
	<webResourceBundle debug="true" name="Jointjs" version="1.0.0"
	  webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjs">
	  <webResource
	    relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js"
	    relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js">
	  </webResource>
	  <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js" type="JAVASCRIPT" />
	   
	  <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.backbone" />
	  <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.lodash.min.js" />
	</webResourceBundle>
    
    <webResourceBundle debug="true" name="Jointjscss" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjscss">
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css" type="CSS" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="fskeditor" usesDefine="true" version="1.0.0" webResourceBundleID="fskeditor">
     
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor" />     
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery.min.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/JQueryUI.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery-ui.css" type="CSS" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.css" type="CSS" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/r.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.css" type="CSS" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap-tabcollapse.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.js" type="JAVASCRIPT" />
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/punycode.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/sweetalert.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/ajv.min.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/lodash.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/App.css" type="CSS" />      
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="de.bund.bfr.knime.fsklab.nodes.joiner.bundle.js" usesDefine="true" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.bundle.js">
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/bundle.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/bundle.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/bundle.js" type="JAVASCRIPT" />
      
      <webDependency webResourceBundleID="react" />
      <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.lodash.min.js" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="react" usesDefine="true" version="1.0.0" webResourceBundleID="react">
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/">
      </webResource>
      
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/react.min.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/react-dom.min.js" type="JAVASCRIPT" />      
    </webResourceBundle>
    
  </extension>
</plugin>
