<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bund.bfr.knime.pmm.ui.commands.category"
            name="PMM-Lab">
      </category>
      <command
            categoryId="de.bund.bfr.knime.pmm.ui.commands.category"
            id="de.bund.bfr.knime.pmm.ui.commands.openDBGUI"
            name="Open DB Gui...">
      </command>
      <command
            categoryId="de.bund.bfr.knime.pmm.ui.commands.category"
            id="de.bund.bfr.knime.pmm.ui.commands.settings"
            name="Settings...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bund.bfr.knime.pmm.ui.handlers.OpenDBGUI"
            commandId="de.bund.bfr.knime.pmm.ui.commands.openDBGUI">
      </handler>
      <handler
            class="de.bund.bfr.knime.pmm.ui.handlers.Settings"
            commandId="de.bund.bfr.knime.pmm.ui.commands.settings">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bund.bfr.knime.pmm.ui.menus.masterdata"
               label="PMM-Lab"
               mnemonic="M">
            <command
                  commandId="de.bund.bfr.knime.pmm.ui.commands.openDBGUI"
                  id="de.bund.bfr.knime.pmm.ui.menus.openDBGUI"
                  style="push">
            </command>
            <command
                  commandId="de.bund.bfr.knime.pmm.ui.commands.settings"
                  id="de.bund.bfr.knime.pmm.ui.menus.settings"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
	<!-- Splash extension to be shown when launching KNIME -->
	<extension point="org.knime.product.splashExtension">
	    <splashExtension
	    	icon="icons/pmmlab_logo_48.png"
			icon24="icons/pmmlab_logo_24.png"
			icon32="icons/pmmlab_logo_32.png"
			id="de.bund.bfr.knime.pmm.splashExtension"
			tooltip="BfR.bund.de FSK Lab">
		</splashExtension>
	</extension> 
   
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/BfRPMM.png"
            level-id="pmmlab"
            name="PMM-Lab"
            path="/community/">
      </category>
      <category
            icon="icons/Reader.png"
            level-id="reader"
            name="Readers"
            path="/community/pmmlab">
      </category>
      <category
            icon="icons/Writer.png"
            level-id="writer"
            name="Writers"
            path="/community/pmmlab">
      </category>
      <category
            icon="icons/Model.png"
            level-id="fitting"
            name="Model Fitting"
            path="/community/pmmlab">
      </category>
      <category
            icon="icons/SelectionAndViews.png"
            level-id="views"
            name="Selectors &amp; Viewers"
            path="/community/pmmlab">
      </category>
      <category
            icon="icons/Editors.png"
            level-id="editors"
            name="Editors"
            path="/community/pmmlab">
      </category>
      <category
            icon="icons/XMLToTable.png"
            level-id="converters"
            name="Converters"
            path="/community/pmmlab">
      </category>
      <category
      		icon="icons/Utilities.png"
      		level-id="util"
      		name="Utilities"
      		path="/community/pmmlab">
      </category>
   </extension>

</plugin>
