<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="de.bund.bfr.knime.fsklab.preferences.PythonPreferencePage"
            id="de.bund.bfr.knime.fsklab.PythonPreferencePage"
            name="FSK-Lab">
      </page>
      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.bund.bfr.knime.fsklab.preferences.PythonPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.knime.python2.PythonKernelBackend">
   </extension>
</plugin>
