	constructor(metadata, img, modelScript, visScript, readme) {
		this._metadata = metadata;
		this._schema = {};
		this._menu = [];
		this._img = img;
		this._modelScript = modelScript;
		this._visScript = visScript;
		this.readme = readme;
		this.panels = {};
	}
	
	
