.bs-docs-header, .bs-docs-masthead {
	  position: relative;
	  padding: 5px 0;
	  color: #BFCCE3;
	  text-align: center;
	  text-shadow: 0 1px 0 rgba(0,0,0,.1);
	  background-color: #337ab7;
	  cursor: pointer;
}
.bs-docs-header  h1 , .bs-docs-masthead  h1 {color:white}
div.panel-default>.panel-heading{
	background: #E5E2E2;
	color: #337AB7;
	cursor:pointer;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.panel-default>.panel-heading:hover{	    
	background: rgba(131, 131, 131, 0.16); 
	color: rgb(92, 80, 111);
 
}
div.panel-default>.panel-heading:hover:after{color:white;}
 .list-group-item:hover {
	  background-color: rgba(111, 84, 153, 0.03);
	  cursor: pointer
}
div.panel-group .panel{  border-radius: 0;}
a:focus, a:hover {text-decoration: none !important;	}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 1px solid #ddd;
  border-radius: 0;
}

.panel-heading:before {
	font-family:'Glyphicons Halflings';
	content:"\e259";
	float: right;
	position: relative;
	color: #1b809e;
}

.panel-heading.collapsed:before {content:"\e258"}
.type-model {
	float: left!important;
	background-color: rgb(51, 122, 183);
	padding-top: 4.2px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin-right: 10px;
	height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 16px;
  	font-size: 13px;
}
.link-model{  display: flex;  margin-right: 15px;}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #1b809e;
}

.pencil:after {
	font-family:'Glyphicons Halflings';
	content:"\270f";
	float: right;
	color: white;
}

.model2 { background-color: rgba(51, 122, 183, 0.03) !important;}

.list-group-item.second {padding:0}
.list-group-item.second .item-first, td.item-first{ 
	height: 20px;
	margin-right: 10px;
	padding: 1px 4px;
	width: 20px;
	float: left;
	cursor: pointer;
	font-size: 13px;
    margin-top: 11px;
}

.item-first:after {font-family:'Glyphicons Halflings';		color: white;}


.list-group-item.second .item-second{padding: 10px 15px;}
.pencil:hover:after {color: #337AB7;}
.pencil-active:after {color: #51a351;}


#insertModule{min-height: 310px;}
#listReference{padding: 0 15px;}

.editable-click, a.editable-click, a.editable-click:hover { cursor: pointer;}

.form-horizontal1 > .form-group {    min-height: 34px;   margin-right: -15px;    margin-left: -15px;}
.form-horizontal1 .control-label {  padding-top: 7px;    margin-bottom: 0px;    text-align: right;}
.select2-dropdown {  z-index: 5000 !important;}
@media (max-width:991px){
	.panel-heading:before, .type-model  { margin-top: 0}

}

.list-group-item{   border-width: 0 !important; padding: 7px 15px;  list-style-type: none; }
.some-second-plus, .some-accordion, .some-second-minus, .some-normal{background: rgb(51, 122, 183)}
.some-accordion1{background: rgb(51, 122, 183)}
.some-remove{ background: #E41844}
.some-success{background: #51a351}
.some-second-minus:after, .some-normal:after { content:"\2212";}
.some-second-plus:after, .some-accordion:after { content: "\2b";}
.some-remove:after { content:"\e014";}
.some-success:after { content:"\e013";}


.some-second{height: 20px;
	  margin-right: 10px;
	  padding: 1px 4px;
	  width: 20px;
	  float: left;
	  cursor: pointer;
	  font-size: 13px;
	  margin-left: -30px;
	  display: block
}
.lvl-1{ padding-left: 45px !important; border-top-width: 1px !important}
.lvl-2{ padding-left: 45px; border-top: 1px solid rgb(221, 221, 221); }
.lvl-3{ padding-left: 75px;}