<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- Category for legacy FSK nodes -->
  <extension point="org.knime.workbench.repository.categories">
    <category icon="icons/fsk48.png" level-id="legacy" name="Legacy" path="/fsklab" />
  </extension>

  <!-- Legacy FSK nodes from PMM-Lab -->
  <extension point="org.knime.workbench.repository.nodes">
  
    <node category-path="/fsklab/legacy" deprecated="false"
      factory-class="de.bund.bfr.knime.pmm.fskx.creator.FskxCreatorNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="false"
      factory-class="de.bund.bfr.knime.pmm.fskx.editor.FskEditorNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="false"
      factory-class="de.bund.bfr.knime.pmm.fskx.reader.FskxReaderNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="false"
      factory-class="de.bund.bfr.knime.pmm.fskx.runner.FskxRunnerNodeFactory" />
    <node category-path="/fsklab/legacy" deprecated="false"
      factory-class="de.bund.bfr.knime.pmm.fskx.writer.FskxWriterNodeFactory" />  
  </extension>
  
  <!-- Legacy port object -->
  <extension point="org.knime.core.PortType">
    <!-- FSK port object -->
    <portType
      color="588C7E"
      hidden="false"
      name="FSK object"
	  objectClass="de.bund.bfr.knime.fsklab.nodes.port.FskPortObject"
	  objectSerializer="de.bund.bfr.knime.fsklab.nodes.port.FskPortObject$Serializer"
	  specClass="de.bund.bfr.knime.fsklab.nodes.port.FskPortObjectSpec"
	  specSerializer="de.bund.bfr.knime.fsklab.nodes.port.FskPortObjectSpec$Serializer"/>
  </extension>
</plugin>
