<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metadata -->
      <package
            uri="http://BfR/bund/de/knime/model/metadata"
            class="metadata.MetadataPackage"
            genModel="model/metadata.genmodel"/>
   </extension>
</plugin>
