<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metadata -->
      <package
            uri="http://www.example.org/metadata"
            class="metadata.MetadataPackage"
            genModel="model/metadata.genmodel"/>
   </extension>


<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="model/Event.view"/>

<file filePath="model/Exposure.view"/>

<file filePath="model/ModelEquation.view"/>

<file filePath="model/ModelMath.view"/>

<file filePath="model/modelApplicability.view"/>

<file filePath="model/Parameter.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Region.view"/>

<file filePath="model/Country.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/ModificationDate.view"/>

<file filePath="model/ModelCategory.view"/>

<file filePath="model/Creator.view"/>

<file filePath="model/DietaryAssessmentMethod.view"/>

<file filePath="model/Assay.view"/>

<file filePath="model/Laboratory.view"/>

<file filePath="model/DietaryAssessmentMethod.view"/>

<file filePath="model/StudySample.view"/>

<file filePath="model/Study.view"/>

<file filePath="model/DataBackground.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/PopulationGroup.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Product.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope1.view"/>

<file filePath="model/Hazard.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/Scope.view"/>

<file filePath="model/GeneralInformation1.view"/>

<file filePath="model/GeneralInformation.view"/>

<file filePath="model/GeneralInformation1.view"/>

<file filePath="model/DietaryAssessmentMethod.view"/>

<file filePath="model/Creator.view"/>

<file filePath="model/GeneralInformation.view"/>

<file filePath="model/GeneralInformation.view"/>



<file filePath="model/Creator.view"/>


</extension>
</plugin>
