/* Add borders to main divs. */
.simulationsDiv{

}

.parametersDiv {

	border-left: 1px solid;
	
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
}
.contentA {
    left: 0px;
}