.CodeMirror {
    height: 100%;
}

.CodeMirror-gutters {
    background-color: transparent;
}

.CodeMirror-linenumber {
    /* font-weight: bold; */
    color: #31708f;
}
.CodeMirror-lines {
    cursor: text;
    min-height: 300px;
}

#viewContent {
    padding: 5px;
}

.editorDiv{
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
}