<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.knime.js.core.webResources">
   
     <webResourceBundle  name="Backbone.js" version="1.4.0" webResourceBundleID="backbone_1.4.0" debug="false">
       <webResource relativePathSource="js-lib/backbone" relativePathTarget="js-lib/backbone" />
       <importResource relativePath="js-lib/backbone/backbone-min.js" type="JAVASCRIPT" />
       <webDependency webResourceBundleID="underscore_1.9.1" />
     </webResourceBundle>
     
     <webResourceBundle name="Bootstrap 3 Typeahead" version="4.0.2" webResourceBundleID="bootstrap3_typeahead_4.0.2"
       debug="false">
       <webResource relativePathSource="js-lib/bootstrap3_typeahead" relativePathTarget="js-lib/bootstrap3_typeahead" />
       <importResource relativePath="js-lib/bootstrap3_typeahead/bootstrap3-typeahead.min.js" type="JAVASCRIPT" />
     </webResourceBundle>
     
     <webResourceBundle name="lodash" version="4.17.15" webResourceBundleID="Lodash_4.17.15" debug="false">
       <webResource relativePathSource="js-lib/lodash" relativePathTarget="js-lib/lodash" />
       <importResource relativePath="js-lib/lodash/lodash.min.js" type="JAVASCRIPT" />
     </webResourceBundle>
     
     <webResourceBundle name="underscore" version="1.9.1" webResourceBundleID="underscore_1.9.1" debug="false">
       <webResource relativePathSource="js-lib/underscore" relativePathTarget="js-lib/underscore" />
       <importResource relativePath="js-lib/underscore/underscore-min.js" type="JAVASCRIPT" />
     </webResourceBundle>
     
     <webResourceBundle name="datepicker" version="1.9.0" webResourceBundleID="datepicker_1.9.0"
       debug="false">
       <webResource relativePathSource="js-lib/datepicker" relativePathTarget="js-lib/datepicker" />
       <importResource relativePath="js-lib/datepicker/bootstrap-datepicker.min.js" type="JAVASCRIPT" />
     </webResourceBundle>
     
     <webResourceBundle name="codemirror" version="5.49.2" webResourceBundleID="codemirror_5.49.2"
       usesDefine="true" debug="false">    
       <webResource relativePathSource="js-lib/codemirror-5.49.2/" relativePathTarget="codemirror" />
       <importResource relativePath="codemirror/lib/codemirror.css" type="CSS" />
     </webResourceBundle>
     
     <webResourceBundle name="JointJS" version="3.1.1" webResourceBundleID="JointJS_3.1.1" debug="false">
       <webResource relativePathSource="js-lib/jointjs" relativePathTarget="js-lib/jointjs" />
       <importResource relativePath="js-lib/jointjs/joint.min.css" type="CSS" />
       <importResource relativePath="js-lib/jointjs/joint.min.js" type="JAVASCRIPT" />
       <webDependency webResourceBundleID="jQuery_3.3.1" />
	   <webDependency webResourceBundleID="backbone_1.4.0" />
	   <webDependency webResourceBundleID="Lodash_4.17.15" />
     </webResourceBundle>
   </extension>
   
</plugin>
