<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.knime.js.core.webResources">
   
     <webResourceBundle  name="Backbone.js" version="1.4.0" webResourceBundleID="backbone_1.4.0" debug="false">
       <webResource relativePathSource="js-lib/backbone" relativePathTarget="js-lib/backbone" />
       <importResource relativePath="js-lib/backbone/backbone-min.js" type="JAVASCRIPT" />
       <webDependency webResourceBundleID="underscore_1.9.1" />
     </webResourceBundle>
     
     <webResourceBundle name="FSK UI Metadata schema" version="1.0.0" webResourceBundleID="FskMetadata_1.0.0"
       debug="true" exports="fskui" usesDefine="false">
		
	   <webResource
	     relativePathSource="js-lib/bfr/fskmetadata_1.0.0.js"
		 relativePathTarget="js-lib/bfr/fskmetadata_1.0.0.js">
	   </webResource>
		
	   <importResource relativePath="js-lib/bfr/fskmetadata_1.0.0.js" type="JAVASCRIPT"></importResource>
	 </webResourceBundle>
	
	 <webResourceBundle name="FSK JS utilities" version="1.0.0" webResourceBundleID="FskUtil_1.0.0"
	   debug="true" exports="fskutil" usesDefine="false">
	   
	   <webResource
	     relativePathSource="js-lib/bfr/fskutil_1.0.0.js"
		 relativePathTarget="js-lib/bfr/fskutil_1.0.0.js">
	   </webResource>
		
	   <importResource relativePath="js-lib/bfr/fskutil_1.0.0.js" type="JAVASCRIPT"></importResource>
	</webResourceBundle>
     
     
   </extension>
   
</plugin>
