<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>

  <!-- Splash extension to be shown when launching KNIME -->
  <extension point="org.knime.product.splashExtension">
    <splashExtension
      icon="icons/fsk48.png"
      icon24="icons/fsk24.png"
      icon32="icons/fsk32.png"
      id="de.bund.bfr.knime.fsklab.splashExtension"
      tooltip="BfR.bund.de FSK Lab">
    </splashExtension>
  </extension>

  <!-- New category for FSK nodes -->
  <extension point="org.knime.workbench.repository.categories">
    <category
  	  icon="icons/fsk48.png"
  	  level-id="fsklab"
  	  name="FSK-Lab"
  	  path="/">
  	</category>
  </extension>
  
  <extension point="org.knime.workbench.repository.nodes">
    <node
      category-path="/fsklab"
      deprecated="false"
      factory-class="de.bund.bfr.knime.fsklab.nodes.rakip.editor.NodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="false"
      factory-class="de.bund.bfr.knime.fsklab.nodes.rakip.creator.NodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="false"
      factory-class="de.bund.bfr.knime.fsklab.nodes.rakip.writer.NodeFactory">
    </node>
    
    <!-- deprecated nodes -->
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.creator.FskCreatorNodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.reader.FskxReaderNodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.rakip.writer.FskxWriterNodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.runner.FskRunnerNodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.editor.FskEditorNodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.editor.js.FskEditorNodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.metadataeditor.FskMetadataEditorNodeFactory">
    </node>
    <node
      category-path="/fsklab"
	  deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.fsk2r.FskToRNodeFactory">
    </node>
    <node
      category-path="/fsklab"
      deprecated="true"
      factory-class="de.bund.bfr.knime.fsklab.nodes.fsk2metadata.ExtractFskMetadataNodeFactory">
    </node>
  </extension>
  
  <!-- Preference initializer for custom R -->
  <extension id="de.bund.bfr.knime.pmm.fskx.bin.preferences.RPreferenceInitializer"
    point="org.eclipse.core.runtime.preferences">
	<initializer class="de.bund.bfr.knime.fsklab.nodes.rbin.preferences.RPreferenceInitializer">
	</initializer>
  </extension>
  
  <!-- Preference page for custom R -->
  <extension point="org.eclipse.ui.preferencePages">
	<page
		category="org.knime.workbench.ui.preferences"
		class="de.bund.bfr.knime.fsklab.nodes.rbin.preferences.RPreferencePage"
		id="de.bund.bfr.knime.fsklab.nodes.bin.rbin.preferences.RPreferencePage"
		name="BfR R settings"/>
  </extension>
  
  <extension point="org.knime.core.PortType">
    <!-- FSK port object -->
    <portType
      color="588C7E"
      hidden="false"
      name="FSK object"
	  objectClass="de.bund.bfr.knime.pmm.fskx.port.FskPortObject"
	  objectSerializer="de.bund.bfr.knime.pmm.fskx.port.FskPortObject$Serializer"
	  specClass="de.bund.bfr.knime.pmm.fskx.port.FskPortObjectSpec"
	  specSerializer="de.bund.bfr.knime.pmm.fskx.port.FskPortObjectSpec$Serializer"/>
	  
	<portType
      color="588C7E"
      hidden="false"
      name="FSK object"
	  objectClass="de.bund.bfr.knime.fsklab.nodes.rakip.port.FskPortObject"
	  objectSerializer="de.bund.bfr.knime.fsklab.nodes.rakip.port.FskPortObject$Serializer"
	  specClass="de.bund.bfr.knime.fsklab.nodes.rakip.port.FskPortObjectSpec"
	  specSerializer="de.bund.bfr.knime.fsklab.nodes.rakip.port.FskPortObjectSpec$Serializer"/>
  </extension>
  
  <extension point="org.knime.js.core.javascriptComponents">
    <!-- Javascript component for Fsk Metadata Editor node -->
    <javascriptComponent
      getComponentValue-method-name="getComponentValue"
      implementationBundleID="de.bund.bfr.knime.fsklab.nodes.metadataeditor.bundle"
      init-method-name="init"
      javascriptComponentID="de.bund.bfr.knime.fsklab.nodes.metadataeditor"
      name="FSK Metadata Editor"
      namespace="metadata_editor">
    </javascriptComponent>
    
    <!-- Javascript component for Fsk Editor node -->
    <javascriptComponent
          getComponentValue-method-name="getComponentValue"
          implementationBundleID="de.bund.bfr.knime.fsklab.nodes.editor.js.bundle"
          init-method-name="init"
          javascriptComponentID="de.bund.bfr.knime.fsklab.nodes.editor.js"
          name="FSK Editor JS"
          namespace="fsk_editor">
    </javascriptComponent>
  </extension>
  
  <extension point="org.knime.js.core.webResources">
    <!-- JS and CSS code for Fsk Metadata Editor node -->
    <webResourceBundle
      debug="true"
      name="FSK Metadata Editor"
      usesDefine="false"
      version="0.0.1"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.metadataeditor.bundle">
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/metadataeditor/"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/metadataeditor/">
      </webResource>
      <importResource
        relativePath="de/bund/bfr/knime/fsklab/nodes/metadataeditor/editor.css"
        type="CSS">
      </importResource>
      <importResource
        relativePath="de/bund/bfr/knime/fsklab/nodes/metadataeditor/editor.js"
        type="JAVASCRIPT">
      </importResource>
      
      <!-- Dependencies -->
      <webDependency webResourceBundleID="bootstrap-datepicker_1.6.4_Debug"></webDependency>
    </webResourceBundle>

    <!-- JS and CSS code for FSK Editor JS node -->
    <webResourceBundle
      debug="true"
      name="FSK Editor JS"
      usesDefine="false"
      version="0.0.1"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.editor.js.bundle">
      
      <!-- JS code -->
      <webResource
            relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/editor/js/js-editor.js"
            relativePathTarget="de/bund/bfr/knime/fsklab/nodes/editor/js/js-editor.js">
      </webResource>
      <importResource
      	relativePath="de/bund/bfr/knime/fsklab/nodes/editor/js/js-editor.js"
      	type="JAVASCRIPT">
      </importResource>

      <!-- CSS code -->
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/editor/js/js-editor.css"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/editor/js/js-editor.css">
      </webResource>
      <importResource
      	relativePath="de/bund/bfr/knime/fsklab/nodes/editor/js/js-editor.css"
      	type="CSS">
      </importResource>

      <!-- Dependencies -->
      <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
      <webDependency webResourceBundleID="jQuery_2.1.4"></webDependency>
    </webResourceBundle>
    
    <!--
    bootstrap-datepicker debug
    Requires:
    * Bootstrap 2.0.4+
    * jQuery 1.7.1+
     -->
    <webResourceBundle
      debug="true"
      name="bootstrap-datepicker 1.6.4"
      usesDefine="false"
      version="1.6.4"
      webResourceBundleID="bootstrap-datepicker_1.6.4_Debug">
      <webResource
        relativePathSource="js-src/bootstrap-datepicker/1_6_4/debug/"
        relativePathTarget="js-src/bootstrap-datepicker/1_6_4/debug/">
      </webResource>
      <importResource
        relativePath="js-src/bootstrap-datepicker/1_6_4/debug/css/bootstrap-datepicker3.css"
        type="CSS">
      </importResource>
      <importResource
        relativePath="js-src/bootstrap-datepicker/1_6_4/debug/js/bootstrap-datepicker.js"
        type="JAVASCRIPT">
      </importResource>
      <webDependency webResourceBundleID="bootstrap_3.3.7_Debug"></webDependency>
    </webResourceBundle>
    
    <!--
    bootstrap-datepicker
    Requires:
    * Bootstrap 2.0.4+
    * jQuery 1.7.1+
    -->
    <webResourceBundle
      debug="false"
      name="bootstrap-datepicker 1.6.4"
      usesDefine="false"
      version="1.6.4"
      webResourceBundleID="bootstrap-datepicker_1.6.4">
      <webResource
        relativePathSource="js-src/bootstrap-datepicker/1_6_4/min/"
        relativePathTarget="js-src/bootstrap-datepicker/1_6_4/min/">
      </webResource>
      <importResource
        relativePath="js-src/bootstrap-datepicker/1_6_4/min/css/bootstrap-datepicker3.min.css"
        type="CSS">
      </importResource>
      <importResource
        relativePath="js-src/bootstrap-datepicker/1_6_4/min/js/bootstrap-datepicker.min.js"
        type="JAVASCRIPT">
      </importResource>
      <webDependency webResourceBundleID="bootstrap_3.3.7"></webDependency>
    </webResourceBundle>
    
    <!-- Bootstrap 3.3.7 with jQuery3+ as dependency. -->
    <webResourceBundle
      debug="false"
      name="bootstrap 3.3.7"
      usesDefine="false"
      version="3.3.7"
      webResourceBundleID="bootstrap_3.3.7">
      <webResource
        relativePathSource="js-src/bootstrap/3_3_7/min/"
        relativePathTarget="js-src/bootstrap/3_3_7/min/">
      </webResource>
      <importResource
        relativePath="js-src/bootstrap/3.3.7/min/css/bootstrap.min.css"
        type="CSS">
      </importResource>
      <importResource
        relativePath="js-src/bootstrap/3.3.7/min/css/bootstrap-theme.min.css"
        type="CSS">
      </importResource>
      <importResource
        relativePath="js-src/bootstrap/3_3_7/min/js/bootstrap.min.js"
        type="JAVASCRIPT">
      </importResource>
      <webDependency webResourceBundleID="jQuery_3.1.1"></webDependency>
    </webResourceBundle>
    
    <!-- Bootstrap 3.3.7 with jQuery3+ as dependency. -->
    <webResourceBundle
      debug="true"
      name="bootstrap 3.3.7"
      usesDefine="false"
      version="3.3.7"
      webResourceBundleID="bootstrap_3.3.7_Debug">
      <webResource
        relativePathSource="js-src/bootstrap/3_3_7/debug/"
        relativePathTarget="js-src/bootstrap/3_3_7/debug/">
      </webResource>
      <importResource
        relativePath="js-src/bootstrap/3_3_7/debug/css/bootstrap.css"
        type="CSS">
      </importResource>
      <importResource
        relativePath="js-src/bootstrap/3_3_7/debug/css/bootstrap-theme.css"
        type="CSS">
      </importResource>
      <importResource
        relativePath="js-src/bootstrap/3_3_7/debug/js/bootstrap.js"
        type="JAVASCRIPT">
      </importResource>
      <webDependency webResourceBundleID="jQuery_3.1.1"></webDependency>
    </webResourceBundle>
  </extension>
</plugin>
