<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.knime.core.PortType">
  
    <portType
      color="000000"
      hidden="false"
      name="FSK object"
      objectClass="de.bund.bfr.knime.fsklab.v1_9.FskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.v1_9.FskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.v1_9.FskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.v1_9.FskPortObjectSpec$Serializer">
    </portType>
    
    <portType
      color="FF4500"
      hidden="false"
      name="Combined FSK object"
      objectClass="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObject"
      objectSerializer="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObject$Serializer"
      specClass="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObjectSpec"
      specSerializer="de.bund.bfr.knime.fsklab.v1_9.CombinedFskPortObjectSpec$Serializer">
    </portType>
  </extension>
    
  <!-- Category for FSK nodes -->
  <extension point="org.knime.workbench.repository.categories">
    <category icon="icons/fsk48.png" level-id="fsklab" name="FSK-Lab" path="/" />
  </extension>
  
  <!-- Splash extension to be shown when launching KNIME -->
  <extension point="org.knime.product.splashExtension">
    <splashExtension
      icon="icons/fsk48.png"
      icon24="icons/fsk24.png"
      icon32="icons/fsk32.png"
      id="de.bund.bfr.knime.fsklab.splashExtension"
      tooltip="BfR.bund.de FSK Lab">
    </splashExtension>
  </extension>

  <extension point="org.knime.workbench.repository.nodes">
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.creator.CreatorNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.runner.RunnerNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.fsk2r.FskToRNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.reader.ReaderNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.writer.WriterNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.fsk2metadata.FSK2MetadataNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.simulator.JSSimulatorNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.joiner.JoinerNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.editor.FSKEditorJSNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.v1_9.fskdbview.FSKDBViewNodeFactory"/>
     
     
     
     <!-- Disable workflow writer and reader nodes (unfinished)
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.WorkflowWriterNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.WorkflowReaderNodeFactory" />
     -->
   </extension>
   
   <extension point="org.knime.js.core.javascriptComponents">
     <!-- JavaScript component for the simulator node -->
     <javascriptComponent
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.v1.9.simulator.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.v1.9.simulator.component"
       name="JavaScript Simulation Configurator"
       namespace="simulator">
     </javascriptComponent>
     
     <!-- Javascript component for Fsk joiner node -->
     <javascriptComponent
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.v1.9.joiner.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.v1.9.joiner.component"
       name="FSK Joiner"
       namespace="joiner">
     </javascriptComponent>
     
     <!-- Javascript component for Fsk Editor JS node -->
     <javascriptComponent
       validate-method-name="validate"
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.v1.9.editor.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.v1.9.editor.component"
       name="FSK Editor JS"
       namespace="fskeditorjs">
     </javascriptComponent>
     
     <!-- Javascript component for Fsk DB View node -->
     <javascriptComponent
       validate-method-name="validate"
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.v1.9.fskdbview.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.v1.9.fskdbview.component"
       name="FSK DB View"
       namespace="fskdbview">
     </javascriptComponent>
   </extension>
   
   <extension point="org.knime.js.core.webResources">
     
     <!-- JS and CSS for simulator node -->
     <webResourceBundle
       debug="true"
       name="JavaScript Simulation Configurator"
       usesDefine="false"
       version="0.0.1"
       webResourceBundleID="de.bund.bfr.knime.fsklab.v1.9.simulator.bundle">
       
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator/jssimulator.js" type="JAVASCRIPT" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/simulator/jssimulator.css" type="CSS" />

       <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
     </webResourceBundle>
     
	 <!-- JS and CSS for editor -->
     <webResourceBundle
       debug="true"
       name="FSK Editor JS"
       usesDefine="true"
       version="1.0.0"
       webResourceBundleID="de.bund.bfr.knime.fsklab.v1.9.editor.bundle">
       
       <!-- JS and CSS code -->
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/v1.9/editor"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/v1.9/editor" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/editor/editor.js" type="JAVASCRIPT" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/editor/editor.css" type="CSS" />

       <webDependency webResourceBundleID="codemirror_5.49.2"></webDependency>
       <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
       <webDependency webResourceBundleID="bootstrap3_typeahead_4.0.2"></webDependency>
       <webDependency webResourceBundleID="datepicker_1.9.0"></webDependency>
       <webDependency webResourceBundleID="RequireJS_2.3.3"></webDependency>
       <webDependency webResourceBundleID="knimeserviceConditionalLoad_1.0"></webDependency>
       
       <webDependency webResourceBundleID="FskMetadata_1.0.0"></webDependency>
       <webDependency webResourceBundleID="FskUtil_1.0.0"></webDependency>
     </webResourceBundle>
     
     <!-- JS and CSS code for Fsk Joiner node -->	 
	 <webResourceBundle debug="true" name="FSK Joiner"
	   usesDefine="true" version="1.0.0" webResourceBundleID="de.bund.bfr.knime.fsklab.v1.9.joiner.bundle">
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner" />	   
	   <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner/joiner.css" type="CSS" />
	   <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/joiner/joiner.js" type="JAVASCRIPT" />
	   
	   <webDependency webResourceBundleID="JointJS_3.1.1" />
	   <webDependency webResourceBundleID="bootstrap_3.3.6" />
       <webDependency webResourceBundleID="bootstrap3_typeahead_4.0.2" />
       <webDependency webResourceBundleID="codemirror_5.49.2"></webDependency>
       <webDependency webResourceBundleID="RequireJS_2.3.3"></webDependency>
       <webDependency webResourceBundleID="knimeserviceConditionalLoad_1.0"></webDependency>
	   
	   <webDependency webResourceBundleID="FskMetadata_1.0.0" />
	   <webDependency webResourceBundleID="FskUtil_1.0.0" />
	 </webResourceBundle>
	 
	 <!-- JS and CSS for FSK DB VIEW node -->	 
	 <webResourceBundle debug="true" name="FSK DB View"
	   usesDefine="true" version="1.0.0" webResourceBundleID="de.bund.bfr.knime.fsklab.v1.9.fskdbview.bundle">
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/v1.9/fskdbview"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/v1.9/fskdbview" />	   
	   <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/fskdbview/fskdbview.css" type="CSS" />
	   <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/v1.9/fskdbview/fskdbview.js" type="JAVASCRIPT" />
	   
       <webDependency webResourceBundleID="bootstrap_3.3.6"/>
	 </webResourceBundle>

  </extension>
</plugin>
