<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- Splash extension to be shown when launching KNIME -->

  <!-- Category for FSK nodes -->
  <extension point="org.knime.workbench.repository.categories">
    <category icon="icons/fsk48.png" level-id="fsklab" name="FSK-Lab" path="/" />
  </extension>
  
  <!-- Splash extension to be shown when launching KNIME -->
  <extension point="org.knime.product.splashExtension">
    <splashExtension
      icon="icons/fsk48.png"
      icon24="icons/fsk24.png"
      icon32="icons/fsk32.png"
      id="de.bund.bfr.knime.fsklab.splashExtension"
      tooltip="BfR.bund.de FSK Lab">
    </splashExtension>
  </extension>

  <extension point="org.knime.workbench.repository.nodes">
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.CreatorNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.RunnerNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.FskToRNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.ReaderNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.WriterNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.EditorNodeFactory" deprecated="true" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.FSK2MetadataNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.JSSimulatorNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.JoinerNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.FSKEditorJSNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.WorkflowWriterNodeFactory" />
     <node category-path="/fsklab" factory-class="de.bund.bfr.knime.fsklab.nodes.WorkflowReaderNodeFactory" />
   </extension>
   
   <extension point="org.knime.js.core.javascriptComponents">
     <!-- JavaScript component for the simulator node -->
     <javascriptComponent
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.nodes.jssimulator.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.nodes.jssimulator"
       name="JavaScript Simulation Configurator"
       namespace="simulator">
     </javascriptComponent>
     
     <!-- Javascript component for Fsk joiner node -->
     <javascriptComponent
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.js.joiner.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.js.joiner"
       name="FSK Joiner"
       namespace="joiner">
     </javascriptComponent>
     <!-- Javascript component for Fsk Editor JS node -->
     <javascriptComponent
       getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.knime.fsklab.js.FSKEditorJS.bundle"
       init-method-name="init"
       javascriptComponentID="de.bund.bfr.knime.fsklab.js.FSKEditorJS"
       name="FSK Editor JS"
       namespace="fskeditorjs">
     </javascriptComponent>
   </extension>
   
   <extension point="org.knime.js.core.webResources">
     
     <!-- JS and CSS for simulator node -->
     <webResourceBundle
       debug="true"
       name="JavaScript Simulation Configurator"
       usesDefine="false"
       version="0.0.1"
       webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.jssimulator.bundle">
       
       <!-- JS and CSS code -->
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/jssimulator.js"
         relativePathTarget="de/bund/bfr/knime/fsklab/nodes/jssimulator.js">
       </webResource>
       <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/jssimulator.js" type="JAVASCRIPT" />
       
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/jssimulator.css"
         relativePathTarget="de/bund/bfr/knime/fsklab/nodes/jssimulator.css">
       </webResource>
       <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/jssimulator.css" type="CSS" />

       <webDependency webResourceBundleID="bootstrap_3.3.6"></webDependency>
     </webResourceBundle>
     
     <!-- JS and CSS code for Fsk Joiner node -->
     <webResourceBundle
       debug="true"
       name="FSK Joiner"
       usesDefine="true"
       version="1.0.0"
       webResourceBundleID="de.bund.bfr.knime.fsklab.js.joiner.bundle">
     
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/">
       </webResource>
       
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/joiner.css" type="CSS" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/joiner.js" type="JAVASCRIPT" />
      
       <!-- Dependencies -->
       <webDependency webResourceBundleID="fskeditor" />
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjs"></webDependency>
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjscss"></webDependency>
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.bundle.js" />
	 </webResourceBundle>
	 
	 <!-- JS and CSS code for Fsk Editor JS node -->
     <webResourceBundle
       debug="true"
       name="FSK Editor JS"
       usesDefine="true"
       version="1.0.0"
       webResourceBundleID="de.bund.bfr.knime.fsklab.js.FSKEditorJS.bundle">
     
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/fskeditorjs/"
         relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/fskeditorjs/">
       </webResource>
       
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/fskeditorjs/fskeditorjs.css" type="CSS" />
       <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/fskeditorjs/fskeditorjs.js" type="JAVASCRIPT" />
      
       <!-- Dependencies -->
       <webDependency webResourceBundleID="fskeditor" />
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.bundle.js" />
	 </webResourceBundle>
	 
	 <webResourceBundle debug="true" name="Jointjs" version="1.0.0"
	   webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjs">
	   <webResource
	     relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js"
	     relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js">
	   </webResource>
	   <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.js" type="JAVASCRIPT" />
	   
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.backbone" />
	   <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.lodash.min.js" />
	 </webResourceBundle>
      
     <webResourceBundle debug="true" name="backbone" version="1.0.0"
       webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.backbone">
       <webResource
         relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/backbone.js"
         relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/backbone.js">
       </webResource>
       <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/backbone.js" type="JAVASCRIPT" />
       
       <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.underscore.js" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="underscore" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.underscore.js">
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/underscore.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/underscore.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/underscore.js" type="JAVASCRIPT" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="lodash" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.lodash.min.js">
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/lodash.min.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/lodash.min.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs/lodash.min.js" type="JAVASCRIPT" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="Jointjscss" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.jointjscss">
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/jointjs.css" type="CSS" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="fskeditor" usesDefine="true" version="1.0.0" webResourceBundleID="fskeditor">
    
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery.min.js"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery.min.js">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery.min.js" type="JAVASCRIPT" />
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/JQueryUI.js"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/JQueryUI.js">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/JQueryUI.js" type="JAVASCRIPT" />
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery-ui.css"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery-ui.css">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery-ui.css" type="CSS" />
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery.min.js"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery.min.js">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/jquery.min.js" type="JAVASCRIPT" />
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/punycode.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/punycode.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/punycode.js" type="JAVASCRIPT" />
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/lodash.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/lodash.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/lodash.js" type="JAVASCRIPT" />
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.js"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.js">
      </webResource>
	  <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.js" type="JAVASCRIPT" />
	  
	  <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.css"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.css">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/codemirror.css" type="CSS" />
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/App.css"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/App.css">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/App.css" type="CSS" />
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.css"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.css">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.css" type="CSS" />
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap-tabcollapse.js"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap-tabcollapse.js">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap-tabcollapse.js" type="JAVASCRIPT" />
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.js"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.js">
      </webResource>
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/fskemfeditor/bootstrap.min.js" type="JAVASCRIPT" />
      
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="de.bund.bfr.knime.fsklab.nodes.joiner.bundle.js" usesDefine="true" version="1.0.0"
      webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.bundle.js">
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/bundle.js"
        relativePathTarget="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/bundle.js">
      </webResource>
      <importResource relativePath="de/bund/bfr/knime/fsklab/nodes/joiner/emfbundle/bundle.js" type="JAVASCRIPT" />
      
      <webDependency webResourceBundleID="react" />
      <webDependency webResourceBundleID="de.bund.bfr.knime.fsklab.nodes.joiner.lodash.min.js" />
    </webResourceBundle>
    
    <webResourceBundle debug="true" name="react" usesDefine="true" version="1.0.0" webResourceBundleID="react">
      
      <webResource
        relativePathSource="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/"
        relativePathTarget="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/">
      </webResource>
      
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/react.min.js" type="JAVASCRIPT" />
      <importResource relativePath="js-src/de/bund/bfr/knime/fsklab/nodes/joiner/react/react-dom.min.js" type="JAVASCRIPT" />      
    </webResourceBundle>
    
  </extension>
</plugin>
