
/* basic */

body {
	@include media-breakpoint-down( xs ) {
		font-size: 0.875rem;
	}
}
.landingpage {
	padding: 0.5rem 0.5rem;
	cursor: default;
	@include media-breakpoint-up( xs ) {
		padding: 0 1rem 1rem;
	}
	@include media-breakpoint-up( sm ) {
		padding: 2.5rem 2.5rem;
	}
}
.page-header {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	@include media-breakpoint-up( xs ) {
		padding-top: 1rem;
		padding-bottom: 1.875rem;
	}
	.navbar {
		@include media-breakpoint-down( xs ) {
			align-items: flex-start;
		}
	}
}
.loader {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	color: $bfr-primary;
	&.loading {
		z-index: 1040; // below modals
		opacity: 1;
		display: block;
	}
	&:before {
		// @extend .feather;
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// content: '\e889';//'\e8ba';//
		// font-size: 2.25rem;
		// animation-name: spin;
		// animation-duration: 2s;
		// animation-iteration-count: infinite;
		// animation-timing-function: linear;

		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 7rem;
		height: 7rem;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;background:transparent;display:block;' width='147px' height='147px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3ccircle cx='5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.5102040816326531s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='0s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.5102040816326531s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.530612244897959s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.0204081632653061s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.5102040816326531s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='12.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.6671899529042387s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.15698587127158556s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.6671899529042387s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='12.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.6875981161695446s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.1773940345368916s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.6671899529042387s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='20' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.8241758241758242s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.3139717425431711s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.8241758241758242s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='20' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.8445839874411303s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.3343799058084773s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.8241758241758242s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='27.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.9811616954474098s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.4709576138147567s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.9811616954474098s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='27.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.001569858712716s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.491365777080063s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.9811616954474098s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='35' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.1381475667189953s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.6279434850863422s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.1381475667189953s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='35' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.1585557299843017s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.6483516483516485s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.1381475667189953s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='42.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.2951334379905808s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.7849293563579278s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.2951334379905808s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='42.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.315541601255887s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.805337519623234s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.2951334379905808s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='50' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.4521193092621665s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-0.9419152276295134s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.4521193092621665s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='50' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.472527472527473s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.9623233908948197s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.4521193092621665s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='57.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.609105180533752s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.0989010989010988s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.609105180533752s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='57.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.629513343799058s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.119309262166405s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.609105180533752s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='65' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.7660910518053377s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.2558869701726845s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.7660910518053377s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='65' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.7864992150706436s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.2762951334379906s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.7660910518053377s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='72.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.9230769230769231s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.41287284144427s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.9230769230769231s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='72.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.9434850863422293s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.4332810047095763s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.9230769230769231s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='80' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.0800627943485086s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.5698587127158556s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.0800627943485086s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='80' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-3.1004709576138145s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.5902668759811616s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.0800627943485086s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='87.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.2370486656200943s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.7268445839874411s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.2370486656200943s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='87.5' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-3.2574568288854007s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.7472527472527477s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.2370486656200943s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='95' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.39403453689168s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-1.8838304552590268s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.39403453689168s'%3e%3c/animate%3e%3c/circle%3e%3ccircle cx='95' cy='50' r='3' fill='%23034ea2'%3e%3canimate attributeName='r' times='0;0.5;1' values='2.4000000000000004;3.5999999999999996;2.4000000000000004' dur='2.0408163265306123s' repeatCount='indefinite' begin='-3.414442700156986s'%3e%3c/animate%3e%3canimate attributeName='cy' keyTimes='0;0.5;1' values='32;68;32' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.904238618524333s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' calcMode='spline'%3e%3c/animate%3e%3canimate attributeName='fill' keyTimes='0;0.5;1' values='%23034ea2;%2334ac9f;%23034ea2' dur='2.0408163265306123s' repeatCount='indefinite' begin='-2.39403453689168s'%3e%3c/animate%3e%3c/circle%3e%3c/svg%3e");
		background-size: contain;
		@include media-breakpoint-down( xs ) {
			width: 5rem;
			height: 5rem;
		}
	}
	&.loader-page {
		position: fixed;
		&.loading {
			z-index: 1100;
		}
	}
	&.loader-modal {
		border-radius: $modal-content-border-radius;
		background-color: rgba(0,0,0,0.3);
		&.loading {
			z-index: 1055;
		}
	}
}
.col-divider {
	position: relative;
	display: inline-block;
	padding: 0 ( $grid-gutter-width / 2 );
	height: 100%;
	&:after {
		content: '';
		position: relative;
		top: 50%;
		display: block;
		width: 2px;
		min-height: 50px;
		height: 100%;
		max-height: 100%;
		background-color: $bfr-line-color;
		@include media-breakpoint-down( xs ) {
			min-height: 40px;
		}
	}
}



// helper

.min-200 {
	@include media-breakpoint-up( xs ) {
		min-width: 200px;
	}
}
.min-300 {
	@include media-breakpoint-up( xs ) {
		min-width: 300px;
	}
}
.min-400 {
	@include media-breakpoint-up( xs ) {
		min-width: 400px;
	}
}
.min-500 {
	@include media-breakpoint-up( xs ) {
		min-width: 500px;
	}
}
.min-600 {
	@include media-breakpoint-up( xs ) {
		min-width: 600px;
	}
}
.color-box {
	width: 100%;
	min-width: 2.5rem;
	height: 2.5rem;
	border-radius: .25rem;
}

.disabled,
:disabled {
	cursor: not-allowed;
}
.nowrap {
	white-space: nowrap;
}


// animations

@keyframes spin {
	0% { 
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes errorBg {
	0% {
		background-color: lighten( $bfr-red, 40% );
	}
	100% {
		background-color: transparent;
	}
}