/* cards */

.card {
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.4);
	min-height: unset;
}
.card-header {
	@include media-breakpoint-down( xs ) {
		padding: 1.25rem $bfr-padding-x-sm;
	}
}
.card-body {
	min-height: unset;
	padding: 1rem $bfr-padding-x;
	@include media-breakpoint-down( xs ) {
		padding: 1rem $bfr-padding-x-sm;
	}
}
.card-nav {
	z-index: 10;
	position: sticky;
	left: 0;
	top: 0;
	flex: 0 0 0;
	background-color: $white;
	box-shadow: 0 10px 13px 0 rgba(20, 20, 20, 0.1);
	.navbar {
		@extend .row;
		justify-content: flex-start;
		flex: 1 0 100%;
		@include media-breakpoint-up( md ) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}
}