
/* dropdowns */
.dropdown-menu {
	box-shadow: 0 3px 9px 0 rgba(0,0,0,0.4);
	@include media-breakpoint-down( xs ) {
		font-size: $font-size-sm;
	}
}
.dropdown-menu-sm {
	font-size: $font-size-sm;
	line-height: $line-height-sm;
}
.dropdown-item {
	&:focus {
		outline: 0;
	}
	&.active {
		&:hover {
			background-color: $bfr-active-hover;
			color: $bfr-active-color;
		}
	}
}
.dropdown-toggle {
	&:after {
		@extend .feather;
		content: '\e842';
		margin-left: 0.5rem;
		border: 0;
	}
}
.dropdown-divider {
	border-top: 2px solid $bfr-line-color;
}

ul.typeahead.dropdown-menu {
    max-height: 150px;
    overflow: auto;
}