/* filter */
.filter {
	padding: $bfr-padding-y $bfr-padding-x;
	@include media-breakpoint-down( xs ) {
		padding: $bfr-padding-y-sm $bfr-padding-x-sm;
	}
	.navbar {
		flex-wrap: wrap;
		flex: 1 0 100%;
		@include media-breakpoint-up( lg ) {
			flex-wrap: nowrap;
		}
	}
}
.filter-search {
	flex-grow: 1;
}
.filter-facets {}
.filter-counter {
	@include media-breakpoint-up( lg ) {
		flex: 1 0 auto;
		text-align: right;
	}
}
.filter-toggler {
	position: relative;
	padding-left: $spacer / 2;
	padding-right: $spacer / 2;
	.action {
		position: relative;
		&:not(.collapsed) {
			&:hover,
			&:active,
			&:focus {
				&:after {
					background-color: $bfr-hover-color;
				}
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%) rotate(-45deg);
				font-size: 1.25rem;
				display: block;
				width: 2px;
				height: 80%;
				background-color: $bfr-icon-primary-color;
			}
		}
	}
}
.facets {
	position: relative;
	flex-wrap: wrap;
	flex: 1 0 0;
	padding-right: 2.5rem;
	@include media-breakpoint-up( sm ) {
		padding-right: 2.5rem;
	}
	@include media-breakpoint-up( md ) {
		// flex-wrap: nowrap;
		padding-right: 3rem;
	}
}
.facets-clear {
	position: absolute;
	right: 0;
	top: 0.5rem;
	padding-left: $grid-gutter-width / 2;
	padding-right: $grid-gutter-width / 2;
}
.facet {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}