/* footer */
.footer{
    position:fixed;
    padding-bottom:-10px;
     bottom:0px;
     color: black;
    background-color:#F7F7FB;
    width: 100%;
    text-align: center;
    margin-top:auto;
    flex: 0 0 50px;
}
#footer_p{
    margin: 0 !important;
}
body{
    margin-bottom:50px;
}