/* footer */
.footer{
    position:fixed;
    padding-bottom:-10px;
     bottom:0px;
     color: black;
    background-color:#F7F7FB;
    width: 100%;
    text-align: center;
    margin-top:auto;
    flex: 0 0 50px;
    @include media-breakpoint-down( sm ) {
		flex: 0 0 80px;
	}
    @include media-breakpoint-down( xs ) {
		flex: 0 0 120px;
	}
	
}
#footer_p{
    margin: 0 !important;
}
#footer_div{
    margin: 0 !important;
}

body{
    

	@include media-breakpoint-up( sm ) {
		margin-bottom:80px;
	}
	@include media-breakpoint-down( xs ) {
		margin-bottom:120px;
	}
	
}