
/* icons */
.icon {
	font-size: 1.125rem;
}
.icon-sm {
	font-size: 1rem;
}

/* icon font feather */
.feather {
	font-family: 'feather' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}