.modal-details {
	.modal-content {
		@include media-breakpoint-up( xs ) {
			height: 90vh;
			max-height: 900px;
			overflow: hidden;
		}
	}
	.modal-table {
		flex: 1 0 0;
	}
	.table-heading {
		position: sticky;
		left: 0;
	}
	.tab-pane {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.panel-plot {
		padding: 1.5rem $bfr-padding-x;
		@include media-breakpoint-down( xs ) {
			padding: 1rem $bfr-padding-x-sm;
		}
		.figure {
			width: 100%;
			img,
			svg {
				max-width: 100%;
			}
		}
	}
}


