<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <extension point="org.knime.workbench.repository.categories">
      <category after="pmmlab" icon="icons/FoodProcess.png" level-id="foodprocess" name="Foodprocess" path="/">
      </category>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/foodprocess" factory-class="de.bund.bfr.knime.foodprocess.FoodProcessNodeFactory" />
      <node category-path="/foodprocess" factory-class="de.bund.bfr.knime.foodprocess.addons.IngredientsNodeFactory" />
      <node category-path="/foodprocess" factory-class="de.bund.bfr.knime.foodprocess.addons.AgentsNodeFactory" />
      <node category-path="/foodprocess" factory-class="de.bund.bfr.knime.foodprocess.db.WriterNodeFactory" />
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard class="de.bund.bfr.knime.foodprocess.ui.MyPCImportWizard" id="de.bund.bfr.knime.foodprocess.ui.MyPCImportWizard" name="Process chain importer">
         <description>
            Process chain importer that import process chains directly from the integrated database
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
</plugin>
