<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.knime.workbench.repository.nodes">
    <!-- deprecated nodes -->

    <node category-path="/fsklab" deprecated="true"
		factory-class="de.bund.bfr.knime.fsklab.nodes.reader.FskxReaderNodeFactory" />
    <node category-path="/fsklab" deprecated="true"
    	factory-class="de.bund.bfr.knime.fsklab.nodes.writer.FskxWriterNodeFactory" />

  </extension>
</plugin>
