<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/bfrutil" deprecated="false" factory-class="de.bund.bfr.knime.internal.rhome.RHomeNodeFactory" />
      <node category-path="/bfrutil" factory-class="de.bund.bfr.knime.node.editableTable.EditableTableNodeFactory" />
	  <node category-path="/bfrutil" factory-class="de.bund.bfr.knime.util.urlencoder.UrlEncoderNodeFactory" />
   </extension>
   
   <extension point="org.knime.js.core.webResources">
     <webResourceBundle debug="true" name="Editable table" version="1.0" webResourceBundleID="de.bund.bfr.util.js.editableTable.bundle">
       <webDependency webResourceBundleID="KnimeTable_1.0.0" />
       <webDependency webResourceBundleID="bootstrap_3.3.6" />
       <webDependency webResourceBundleID="jQueryUi_1.10.4" />
       <webResource relativePathSource="js-src/" relativePathTarget="js-src/"/>
       <importResource relativePath="js-src/editableTable.js" type="JAVASCRIPT"/>
     </webResourceBundle>
   </extension>

   <extension point="org.knime.js.core.javascriptComponents">
     <javascriptComponent getComponentValue-method-name="getComponentValue"
       implementationBundleID="de.bund.bfr.util.js.editableTable.bundle"
       init-method-name="init" javascriptComponentID="de.bund.bfr.util.js.editableTable"
       name="Editable table" namespace="editable_table">
     </javascriptComponent>
   </extension>

   <extension point="org.knime.workbench.repository.categories">
     <category icon="icons/Utilities.png" level-id="bfrutil" locked="true" name="BfR Internal Utilities" path="/" />
   </extension>
</plugin>
